[Unit]
Description=Create a clock screenshot and send it to the Kindle every minute
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/root/eink-clock/oneshot.sh
WorkingDirectory=/root/eink-clock/
