[Unit]
Description=Create a clock png and send it to the Kindle every minute, playing hourly sounds
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/root/eink-clock/target/release/eink-clock
WorkingDirectory=/root/eink-clock
